DISCORD_TOKEN=tu_token_aqui
DATABASE_URL=postgresql://usuario:password@host:5432/polo_norte

# Canal donde llegan los logs de stash (guardar/sacar items)
LOGS_CHANNEL_ID=1358026298907168778

# Canal donde se envian las alertas de items ilegales
ALERT_CHANNEL_ID=1447055354339786762

# Rol al que se pingea en las alertas
ALERT_ROLE_ID=978342236771217480

# Canal donde llegan los logs de fichaje (inicio/cierre de turno)
FICHAJE_CHANNEL_ID=1439412878569504820

# Canal para logs internos del bot (errores, cambios, validaciones)
LOG_CHANNEL_ID=1482930516393984142
